<!-- flatdet.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentalSolutions | Flat Details</title>
    <link rel="stylesheet" href="/rental_link.css">
</head>

    <header>
        <h1 id="h1">
            <a href="home"><img src="img/logo.jpg" alt="logo" id="logo" ></a>
            RENTAL SOLUTIONS</h1>
        
        <!-- <hr> -->
        <nav class="navbar">
            <ul>
                <li><a href="home">Home</a></li>
                <!-- <li><a href="flatlist">Back</a></li> -->
                <li id="go-back">Back</li>
                <!-- <li><a href="signup.html">Login</a></li> -->
                <!-- <li><a href="rental_link.html">SignUp</a></li> -->
            </ul>
        </nav>
    </header>
    <body id="color">
        
    
    <div class="heading">
        <h1>FLAT DETAILS</h1>
    </div>
    <div class="pgdet">
        <div class="pgname"><h1 class="pgname"><%- Room[0].Name %> </h1></div>
        <hr>
        <p>Flat_ID  is <%- Room[0].Flat_ID %></p>
        <hr>
        <p>Located near <%- Room[0].landmark %></p>
        <hr>
        <p>Address: <%- Room[0].address %></p>
        <hr>
        <p>Contact: <%- Room[0].contact %></p>
        <hr>
        <p>Flat Type: <%- Room[0].type %></p>
        <hr>
    </div>
</div>
    </section>
    <!-- <footer>
        <div class="center">
            Copyright &copy; www.RentalLink.com. All rights reserved
        </div>
    </footer> -->
    <script src="rental_link.js"></script>
    <script>
        document.getElementById('go-back').addEventListener('click',()=>{
            history.back();
        })
    </script>
</body>
   

</html>